server {
    listen          80;
    server_name     192.168.54.54;

    return          301 https://$server_name$request_uri;
}

server {
    listen          443 ssl;
    server_name     192.168.54.54;

    root /vagrant/front-end/dist/;
    index index.html index.htm;

    ssl_certificate             /etc/nginx/ssl/tpn.crt;
    ssl_certificate_key         /etc/nginx/ssl/tpn.key;

    ssl_protocols               TLSv1 TLSv1.1 TLSv1.2;

    # ciphers chosen for forward secrecy and compatibility
    # http://blog.ivanristic.com/2013/08/configuring-apache-nginx-and-openssl-for-forward-secrecy.html
    ssl_ciphers                 ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
    ssl_prefer_server_ciphers   on;
    ssl_session_cache           shared:SSL:10m;
    ssl_session_timeout         10m;

    ssl_stapling                on;
    ssl_stapling_verify         on;
    ssl_trusted_certificate     /etc/nginx/ssl/tpn.crt;
    resolver 8.8.8.8 8.8.4.4 216.146.35.35 216.146.36.36 valid=60s;
    resolver_timeout 2s;

    ssl_dhparam                 /etc/nginx/ssl/dhparam.pem;
    server_tokens               off;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload;";

    gzip                on;
    gzip_comp_level     6;
    gzip_vary           on;
    gzip_min_length     1000;
    gzip_proxied        any;
    gzip_types          text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers        16 8k;

    # BEGINNING of Swagger-UI reroutes
    location /swaggerui {
        root /vagrant/api/node_modules/hapi-swagger/public/;
    }

    location /swaggerui/extend.js {
        rewrite "/swaggerui/extend.js" /extend.js permanent;
    }

    location /extend.js {
        root /vagrant/api/node_modules/hapi-swagger/public/;
        try_files $uri $uri/ /extend.js;
    }

    location /swagger.json {
        proxy_pass http://localhost:8888/swagger.json;
    }

    location /documentation {
        proxy_http_version  1.1;
        proxy_set_header    Connection          "";
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;

        proxy_pass          http://localhost:8888;
        proxy_read_timeout  90;
    }
    # END of Swagger-UI reroutes

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_http_version  1.1;
        proxy_set_header    Connection          "";
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;

        proxy_pass          http://localhost:8888;
        proxy_read_timeout  90;
    }

    location /public {
        root            /vagrant/front-end/dist/;

        access_log      off;
        expires         max;
    }

    location ~ /\. {
        deny all;
    }
}